header {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10vw;
        min-width: 150px;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #000;

            &:hover {
                color: #019;
            }
        }
    }
}


#about{
    height : 100vh;
}